extends vue_layout
block content

    include vue_toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.grey.lighten-5
                v-container(grid-list-xs)
                    v-layout.brick-container(wrap)
                        v-flex.brick-flex(xs12, sm6, md4, v-for="item in items", :key="item.id", v-model='items', flexbox, style="height: fit-content;")
                            //v-card.ma-2.dal-card(flat='', tile='')
                            v-card.ma-2.dal-card.brick-card(hover, raised, id="brick-card")
                                v-card-media(:src="item.mainImage", height='200px')
                                v-card-title.headline.mb-0.blue-grey--text.text--darken-3 {{item.title}}
                                v-card-text.grey--text.text--darken-2.pt-0 {{item.sContents}}
                                //v-divider
                                v-card-actions.py-1
                                    v-spacer
                                    v-btn(flat, color='orange') Share
                                    v-btn(flat, color='orange') Detail



                    .text-xs-center.mt-4
                        v-progress-circular.py-0.my-0(:indeterminate="true", color='deep-orange darken-3', :size="50", v-show='isLoadMore')
                        v-btn(dark, color='deep-orange darken-3', v-if='isBtnLoadMore', v-on:click='loadMore') Load More
                    //    v-pagination(:length='6', v-model='page', @input="redirectPage")








        include vue_footer
        include vue_menu_fab

    include vue_dialog

    script.
        var vue = new Vue({
            el: '#app'
            data: {
                title: 'D&L',
                scrollData: {
                    fab: false,
                    offsetTop: 0,
                    scrollT: 0,
                    delta: 100,
                    isShowFabTop: true,
                    transition: 'slide-y-reverse-transition'
                },
                loginData: {

                },
                modal: false,
                responseDialog: false,
                resSuccessMsg: "This is temporary message.",
                responseErrorDialog: false,
                loadStep: 3,
                page: 1,
                items: [],
                isLoadMore: false,
                isBtnLoadMore: false
            },
            methods: {
                dateToMs: function (date) {
                    var temp = date.split('-');
                    var year = parseInt(temp[0]);
                    var month = parseInt(temp[1]);
                    var day = parseInt(temp[2]);
                    var k = Date.parse(date);
                    return k;
                },
                msToDate: function (ms) {
                    var date = new Date(ms);
                    var dd = date.getDate();
                    var mm = date.getMonth() + 1; //January is 0!

                    var yyyy = date.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd;
                    }
                    if (mm < 10) {
                        mm = '0' + mm;
                    }
                    var dateString = yyyy + "-" + mm + "-" + dd;
                    return dateString
                },
                listToString: function (arr) {
                    var result = "";
                    for (var i = 0; i < arr.length; i++) {
                        result += arr[i];
                        if (i + 1 < arr.length) {
                            result += ";";
                        }
                    }
                    return result;
                },
                redirectPage: function () {
                    window.location.href = '/find/' + vue.page;
                },
                loadMore: function () {
                    this.isLoadMore = true;
                    vue.isBtnLoadMore = false;
                    this.page += 1;

                    var data = {
                        page: this.page
                    };

                    axios.post(
                        '/find',
                        data
                    ).then(function (response) {
                        var res = response;
                        var data = res.data;
                        vue.items = vue.items.concat(data);

                        vue.isLoadMore = false;
                        if(vue.page % vue.loadStep == 0){
                            vue.isBtnLoadMore = true;

                        }else{
                            vue.isBtnLoadMore = false;
                        }
                        vue.gridpack();
                    }).catch(function (error) {
                        alert(error);
                    });
                },
                gridpack: function () {
                    // setTimeout(function () {
                    //     // return;
                    //     // var container = document.querySelector('.brick-container')
                    //     var brickFlexs = document.getElementsByClassName('brick-flex');
                    //     var brickCards = document.getElementsByClassName('brick-card');
                    //     console.log("brickCards: ", brickCards);
                    //     var breakpoint = vue.__proto__.$vuetify.breakpoint;
                    //     var size = 1;
                    //     if(breakpoint.lg)
                    //         size = 3;
                    //     else if(breakpoint.md)
                    //         size = 3;
                    //     else if(breakpoint.sm)
                    //         size = 2;
                    //
                    //     var offsetList = [];
                    //
                    //
                    //     for(var i=1; i<brickCards.length/size; i++){
                    //         for (var j = 0; j < size; j++) {
                    //             var preCard = brickCards[(i-1)*size + j];
                    //             var preRect = preCard.getBoundingClientRect();
                    //             // console.log("preRect: ", preRect);
                    //             var card = brickCards[i*size + j];
                    //             var rect = card.getBoundingClientRect();
                    //             // console.log("rect: ", rect);
                    //
                    //             var bPos = preRect.top + preRect.height + 20;
                    //             var offset = bPos - rect.top;
                    //             card.style.top = offset + 'px';
                    //             offsetList.push(offset);
                    //         }
                    //     }
                    //
                    //     // for(var i=size; i<offsetList.length+size; i++){
                    //     //     var offset = offsetList[i-size];
                    //     //     var card = brickCards[i];
                    //     //     card.style.setProperty( 'margin-top', offset.toString() + "px", 'important' );
                    //     // }
                    //
                    //     // for(var i=0; i<brickFlexs.length; i+=size){
                    //     //     var max = 0;
                    //     //
                    //     //     for (var j = 0; j < size; j++) {
                    //     //         if(i-1 < 0)
                    //     //             break;
                    //     //
                    //     //         var preCard = brickFlexs[()]
                    //     //         var card = brickFlexs[i+j];
                    //     //     }
                    //     //
                    //     //     for (var j = 0; j < size; j++) {
                    //     //         var flex = brickFlexs[i + j];
                    //     //         // flex.style.marginTop = offsetList[j].toString() + "px";
                    //     //         var rect = flex.getBoundingClientRect();
                    //     //         console.log("rect: ", rect);
                    //     //         // var card = brickFlexs[i + j].firstChild;
                    //     //         // card.style.setProperty( 'margin-top', offsetList[j].toString() + "px", 'important' );
                    //     //     }
                    //     //
                    //     //     // for(var j=0; j<size; j++){
                    //     //     //     var card = brickFlexs[i+j].firstChild;
                    //     //     //     if(card.clientHeight > max)
                    //     //     //         max = card.clientHeight;
                    //     //     // }
                    //     //     //
                    //     //     // for(var j=0; j<size; j++){
                    //     //     //     var card = brickFlexs[i + j].firstChild;
                    //     //     //     var offset = card.clientHeight - max;
                    //     //     //     offsetList[j] += offset;
                    //     //     // }
                    //     // }
                    //     // console.log("brickCards: ", brickCards);
                    //     // console.log(vue.__proto__.$vuetify.breakpoint);
                    // }, 500);

                }
            },
            mounted: [
                function () {
                    var pa = "#{page}";
                    this.page = parseInt(pa);

                    var tagsJSON = '!{items}';
                    tagsJSON = tagsJSON.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
                    var json = JSON.parse(tagsJSON);
                    this.items = json;

                    this.gridpack();
                },
                function () {
                    $(window).scroll(
                        function (event) {

                            var scroll = $(window).scrollTop();

                            vue.scrollData.scrollT += (scroll - vue.scrollData.offsetTop);

                            if (vue.scrollData.scrollT > vue.scrollData.delta) {
                                vue.scrollData.isShowFabTop = false;
                                vue.scrollData.scrollT = 0;
                            } else if (vue.scrollData.scrollT < -vue.scrollData.delta) {
                                vue.scrollData.isShowFabTop = true;
                                vue.scrollData.scrollT = 0;
                            }

                            vue.scrollData.offsetTop = scroll;

                            if (scroll === 0) {
                                vue.scrollData.isShowFabTop = true;
                                vue.scrollData.scrollT = 0;
                                vue.scrollData.offsetTop = 0;
                            }
                            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 400 && !vue.isLoadMore && vue.page % vue.loadStep != 0) {
                                console.log('load more');
                                vue.isLoadMore = true;
                                vue.loadMore();
                            }else if(vue.isBtnLoadMore && (window.innerHeight + window.scrollY) >= document.body.offsetHeight - 400 && !vue.isLoadMore){
                                vue.scrollData.isShowFabTop = true;
                                vue.scrollData.scrollT = 0;
                            }


                        }
                    );
                }
            ]
        });
        console.log(vue);

