doctype html
html(lang='en')
    head
        // Theme Made By www.w3schools.com - No Copyright
        title Discovery and Lost
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(href='/stylesheets/bootstrap-imageupload.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
        script(src='/javascripts/bootstrap-imageupload.js')


    body#myPage(data-spy='scroll', data-target='.navbar', data-offset='50')
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') D&L
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') HOME
                        li
                            a(href='#') LOGIN
                        //- li
                        //-     a(href='#band') BAND
                        //- li
                        //-     a(href='#tour') TOUR
                        //- li
                        //-     a(href='#contact') CONTACT
                        //- li.dropdown
                        //-     a.dropdown-toggle(data-toggle='dropdown', href='#')
                        //-         | MORE
                        //-         span.caret
                        //-     ul.dropdown-menu
                        //-         li
                        //-             a(href='#') Merchandise
                        //-         li
                        //-             a(href='#') Extras
                        //-         li
                        //-             a(href='#') Media
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-search



        block content

        // Footer
        footer.text-center
            a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
                span.glyphicon.glyphicon-chevron-up
            br
            br
            p
                | Discovery and Lost
                br
                a(href='http://discoveryandlost.cf', data-toggle='tooltip', title='Visit w3schools') http://discoveryandlost.cf



