extends layout
block content

    - function func(){ return "Register Lost Item"};

    .container
        h2= func()

        if image == null
            hr
            form.form-horizontal(action='/lost' method='post' enctype="multipart/form-data")
                .imageupload.panel.panel-default
                    .panel-heading.clearfix
                        h3.panel-title.pull-left Upload Image
                        .btn-group.pull-right
                            button.btn.btn-default.active(type='button') File
                            //button.btn.btn-default(type='button') URL
                    .file-tab.panel-body
                        label.btn.btn-default.btn-file
                            span Browse
                            // The file is stored here.
                            input(type='file', name='image-file')
                        button.btn.btn-default(type='button') Remove
                    //.url-tab.panel-body
                    //    .input-group
                    //        input.form-control.hasclear(type='text', placeholder='Image URL')
                    //        .input-group-btn
                    //            button.btn.btn-default(type='button') Submit
                    //    button.btn.btn-default(type='button') Remove
                    //    // The URL is stored here.
                    //    input(type='hidden', name='image-url')

                div(align='center')
                    button.btn.btn-primary(type='submit') Submit
        else
            hr



            form.form-horizontal(action='/lost')
                .form-group
                    label.control-label.col-sm-2 Image:
                    .col-sm-10
                        img(src= image width="50%")
                        br
                        br
                .form-group
                    label.control-label.col-sm-2(for='email') Email:
                    .col-sm-10
                        input#email.form-control(type='email', placeholder='Enter email', name='email')
                .form-group
                    label.control-label.col-sm-2(for='pwd') Password:
                    .col-sm-10
                        input#pwd.form-control(type='password', placeholder='Enter password', name='pwd')
                if labels.length > 0
                    .form-group
                        label.control-label.col-sm-2 Labels:
                        .col-sm-10
                            ul.tags
                                each label in labels
                                    li.tag= label
                if texts.length > 0
                    .form-group
                        label.control-label.col-sm-2 Texts:
                        .col-sm-10
                            ul.tags
                                each txt in texts
                                    li.tag= txt
                if logos.length > 0
                    .form-group
                        label.control-label.col-sm-2 Logos:
                        .col-sm-10
                            ul.tags
                                each logo in logos
                                    li.tag= logo
                if colors.length > 0
                    .form-group
                        label.control-label.col-sm-2 Colors:
                        .col-sm-10
                            ul.tags(style="overflow:visible;")
                                each color in colors
                                    li
                                        .card
                                            .card-top(style="background-color: rgb(" + color.red + "," + color.green + "," + color.blue + ");")
                                            .card-bottom
                                                = color.red + ", " + color.green + ", " + color.blue
                                //span(style="padding: 5px; margin-right: 5px; background-color: rgb(" + color.red + "," + color.green + "," + color.blue + ");")= color.red + ", " + color.green + ", " + color.blue
                            //ul.tags
                            //    each color in colors
                            //        li.tag(style="background-color: rgb(" + color.red + "," + color.green + "," + color.blue + ");")= color.red + ", " + color.green + ", " + color.blue
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-danger(type='button', onclick="window.location.href='/lost'" style="margin-right: 5px;") Back
                        button.btn.btn-primary(type='submit') Submit





    script.
        var $imageupload = $('.imageupload');
        $imageupload.imageupload();
        $('#imageupload-disable').on('click', function () {
            $imageupload.imageupload('disable');
            $(this).blur();
        })
        $('#imageupload-enable').on('click', function () {
            $imageupload.imageupload('enable');
            $(this).blur();
        })
        $('#imageupload-reset').on('click', function () {
            $imageupload.imageupload('reset');
            $(this).blur();
        });