extends vue_layout
block content

    include vue_manage_toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-2

                    v-flex(md12='')
                        v-card.elevation-10.my-4

                            div(v-if='currentTab === "tab-Web"')
                                v-toolbar.pt-2(color="deep-orange darken-3", dark, tabs, flat, dense)
                                    v-text-field.mx-3(prepend-icon="search", append-icon="mic", label="Search", solo-inverted, flat)
                                    v-tabs(slot="extension", centered, fixed-tabs, v-model='currentTab', show-arrows, dark, color="transparent", slider-color='white')
                                        v-tab(v-for='item in tabItems', :key='item', :href="'#tab-' + item")
                                            | {{ item }}
                            div(v-else)
                                v-tabs(fixed-tabs, v-model='currentTab', show-arrows, dark, color="deep-orange darken-3", slider-color='white')
                                    v-tab(v-for='item in tabItems', :key='item', :href="'#tab-' + item")
                                        | {{ item }}

                            v-divider.my-0

                            //div.pa-3.pb-4



                            v-tabs-items(v-model='currentTab')

                                v-tab-item(:id="'tab-Web'")
                                    div.hidden-xs-only
                                        v-card-title.headline.pa-0.mx-4.mt-2 Web
                                            v-spacer

                                            v-btn(flat, color='grey', style="height:auto;")
                                                v-icon.ma-0(left, dark) filter_list
                                                | 필터

                                        v-flex(xs12)
                                            v-divider.my-1.mr-4.ml-4

                                        v-card-title
                                            div
                                                v-container(v-bind='{ [`grid-list-lg`]: true }')
                                                    v-layout(wrap)
                                                        v-flex(xs12, sm6, md4, v-for="item in items", :key="item.id", v-model='items')
                                                            v-card.elevation-2(flat='', tile='')
                                                                v-card-title.title.mb-0 {{item.id}}
                                                                v-card-media(:src="item.photos", height='200px')
                                                                v-card-text.pt-3.pb-0.subheading {{ item.category }}
                                                                v-card-text.pt-3.pb-0 {{ msToDate(item.discovery_date) }}
                                                                v-card-text.py-2
                                                                    span(v-for="tag in item.tags.split(';')").caption.brown--text {{"#" + tag}}&nbsp
                                                                v-card-actions
                                                                    v-spacer
                                                                    //v-btn(flat, color='orange') Share
                                                                    v-btn(flat, small, slot='activator', color='orange', dark, @click.native="rgtShareItem(item)") Share
                                                                    v-btn(flat,small, color='orange', :href="'/manage/'+item.id") Detail




                                    // ############# Mobile
                                    div.hidden-sm-and-up
                                        v-card-title.headline.pa-0.mx-3.mt-4 Web
                                            v-spacer

                                            v-btn(flat, color='grey', style="height:auto;")
                                                v-icon.ma-0(left, dark) filter_list
                                                | 필터

                                        v-flex(xs12)
                                        v-divider.mt-2.mb-4

                                        //v-card-title
                                        //    div
                                        v-container.pa-0.brown.lighten-5(v-bind='{ [`grid-list-lg`]: true }')
                                            v-layout(wrap)
                                                v-flex.pt-0(xs12, v-for="item in items", :key="item.id", v-model='items')
                                                    v-card(flat='', tile='')
                                                        v-card-title.title.mb-0 {{item.id}}
                                                        v-card-media(:src="item.photos", height='300px')
                                                        v-card-text.pt-3.pb-0.subheading {{ item.category }}
                                                        v-card-text.pt-3.pb-0 {{ msToDate(item.discovery_date) }}
                                                        v-card-text.py-2
                                                            span(v-for="tag in item.tags.split(';')").caption.brown--text {{"#" + tag}}&nbsp
                                                                //.caption # {{tag}}
                                                            //v-chip.pa-0.ma-0.elevation-0(v-for="tag in item.tags.split(';')", :key="tag", v-model='tag', color='white')
                                                            //    strong.caption.mr-1 #
                                                            //    strong.caption {{ tag }}

                                                        v-card-actions
                                                            v-spacer
                                                            //v-btn(flat, color='orange') Share
                                                            v-btn(flat, small, slot='activator', color='orange', dark, @click.native="rgtShareItem(item)") Share
                                                            v-btn(flat, small, color='orange', :href="'/manage/'+item.id") Detail
                                                    //v-divider



                    v-bottom-sheet(v-model='sheet', inset, max-width='500px')
                        v-list
                            v-subheader Share to ...
                            v-list-tile(v-for='tile in shares', :key='tile', @click='shareTo(tile.title)')
                                v-list-tile-avatar
                                    v-avatar(size='32px', tile='')
                                        img(:src="'/images/' + tile.img")
                                v-list-tile-title {{ tile.title }}




        include vue_footer
        //include vue_menu_fab

    include vue_dialog




    script(type="text/javascript" src='/javascripts/manage-config.js')
    script.
        const vue = init();
