extends vue_layout
block content

    include vue_manage_toolbar

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-2

                    v-flex(md12='')
                        v-card.elevation-10.my-4

                            div(v-if='currentTab === "tab-Web"')
                                v-toolbar.pt-2(color="deep-orange darken-3", dark, tabs, flat, dense)
                                    v-text-field.mx-3(prepend-icon="search", append-icon="mic", label="Search", solo-inverted, flat)
                                    v-tabs(slot="extension", centered, fixed-tabs, v-model='currentTab', show-arrows, dark, color="transparent", slider-color='white')
                                        v-tab(v-for='item in tabItems', :key='item', :href="'#tab-' + item")
                                            | {{ item }}
                            div(v-else)
                                v-tabs(fixed-tabs, v-model='currentTab', show-arrows, dark, color="deep-orange darken-3", slider-color='white')
                                    v-tab(v-for='item in tabItems', :key='item', :href="'#tab-' + item")
                                        | {{ item }}

                            v-divider.my-0

                            //div.pa-3.pb-4



                            v-tabs-items(v-model='currentTab')

                                v-tab-item(:id="'tab-Web'")
                                    div.hidden-xs-only
                                        v-card-title.headline.pa-0.mx-4.mt-2 Web
                                            v-spacer

                                            v-btn(flat, color='grey', style="height:auto;", @click.native="filterDialog = true")
                                                v-icon.ma-0(left, dark) filter_list
                                                | 필터

                                        v-flex(xs12)
                                            v-divider.my-1.mr-4.ml-4

                                        v-card-title
                                            //div
                                            v-container(v-bind='{ [`grid-list-lg`]: true }')
                                                v-layout(wrap)
                                                    v-flex(xs12, sm6, md4, v-for="item in items", :key="item.id", v-model='items')
                                                        v-card.elevation-2(flat='', tile='')
                                                            v-card-title.title.mb-0 {{item.id}}
                                                            v-card-media(:src="item.photos", height='200px')
                                                            v-card-text.pt-3.pb-0.subheading {{ item.category }}
                                                            v-card-text.pt-3.pb-0 {{ msToDate(item.discovery_date) }}
                                                            v-card-text.py-2
                                                                span(v-for="tag in item.tags.split(';')").caption.brown--text {{"#" + tag}}&nbsp
                                                            v-card-actions
                                                                v-spacer
                                                                //v-btn(flat, color='orange') Share
                                                                v-btn(flat, small, slot='activator', color='orange', dark, @click.native="rgtShareItem(item)") Share
                                                                v-btn(flat,small, color='orange', :href="'/manage/'+item.id") Detail




                                    // ############# Mobile
                                    div.hidden-sm-and-up
                                        v-card-title.headline.pa-0.mx-3.mt-4 Web
                                            v-spacer

                                            v-btn(flat, color='grey', style="height:auto;", @click.native="filterDialog = true")
                                                v-icon.ma-0(left, dark) filter_list
                                                | 필터

                                        v-flex(xs12)
                                        v-divider.mt-2.mb-4

                                        //v-card-title
                                        //    div
                                        v-container.pa-0.brown.lighten-5(v-bind='{ [`grid-list-lg`]: true }')
                                            v-layout(wrap)
                                                v-flex.pt-0(xs12, v-for="item in items", :key="item.id", v-model='items')
                                                    v-card(flat='', tile='')
                                                        v-card-title.title.mb-0 {{item.id}}
                                                        v-card-media(:src="item.photos", height='300px')
                                                        v-card-text.pt-3.pb-0.subheading {{ item.category }}
                                                        v-card-text.pt-3.pb-0 {{ msToDate(item.discovery_date) }}
                                                        v-card-text.py-2
                                                            span(v-for="tag in item.tags.split(';')").caption.brown--text {{"#" + tag}}&nbsp
                                                                //.caption # {{tag}}
                                                            //v-chip.pa-0.ma-0.elevation-0(v-for="tag in item.tags.split(';')", :key="tag", v-model='tag', color='white')
                                                            //    strong.caption.mr-1 #
                                                            //    strong.caption {{ tag }}

                                                        v-card-actions
                                                            v-spacer
                                                            //v-btn(flat, color='orange') Share
                                                            v-btn(flat, small, slot='activator', color='orange', dark, @click.native="rgtShareItem(item)") Share
                                                            v-btn(flat, small, color='orange', :href="'/manage/'+item.id") Detail
                                                    //v-divider

                                v-tab-item(:id="'tab-Shopping'")
                                    //div.hidden-xs-only
                                    v-card-title.headline.pa-0.mx-4.mt-3 Shopping

                                    v-flex(xs12)
                                        v-divider.my-1.mr-4.ml-4

                                    v-card-title
                                        v-container(v-bind='{ [`grid-list-lg`]: true }')
                                            v-layout(wrap)
                                                v-flex(xs12)
                                                    .title 1차 조건
                                                v-flex(xs12)
                                                    v-divider
                                                v-flex(sm3, xs12)
                                                    .subheading.grey--text 카테고리:
                                                v-flex(sm9, xs12)
                                                    v-breadcrumbs.pt-0(v-if="category != null")
                                                        v-icon(slot='divider') chevron_right
                                                        v-breadcrumbs-item(v-for='item in [category, subcategory]', :key='item')
                                                            | {{ item }}
                                                    v-flex(xs12)
                                                        v-btn(flat, color='error', dark, @click.native='category = subcategory = null', v-if="category !== null || subcategory !== null") Clear
                                                        v-btn(flat, color='orange darken-2', dark, @click.native='categoryDialog = true') Select Category


                                                v-flex(sm3, xs12)
                                                    .subheading.grey--text 습득일:
                                                v-flex(sm9, xs12)
                                                    //v-date-picker.elevation-10.mb-3.hidden-xs-only(v-model='date', :landscape='true', color="brown darken-1", name='date', full-width)
                                                        //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                                                    div(v-if='dateCheckbox')
                                                        v-dialog(ref='dialog', persistent, v-model='dateModal', lazy, full-width, width='400px', :return-value.sync='date')
                                                            v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='date', readonly)
                                                            v-date-picker(v-model='date', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='date')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='date = null') Clear
                                                                v-btn(flat='', color='primary', @click='dateModal = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dialog.save(date)') OK
                                                    div(v-else)
                                                        v-dialog(ref='dialog1', persistent, v-model='dateModal1', lazy, full-width, width='400px', :return-value.sync='startDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='시작일', v-model='startDate', readonly)
                                                            v-date-picker(v-model='startDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='startDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='startDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='dateModal1 = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dialog1.save(startDate)') OK
                                                        v-dialog(ref='dialog2', persistent, v-model='dateModal2', lazy, full-width, width='400px', :return-value.sync='finishDate')
                                                            v-text-field(color="orange darken-2", slot='activator', label='종료일', v-model='finishDate', readonly)
                                                            v-date-picker(v-model='finishDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='finishDate')
                                                                v-spacer
                                                                v-btn(flat='', color='error', @click='finishDate = null') Clear
                                                                v-btn(flat='', color='primary', @click='dateModal2 = false') Cancel
                                                                v-btn(flat='', color='primary', @click='$refs.dialog2.save(finishDate)') OK
                                                    //v-flex(xs12)
                                                    v-btn.mb-2(flat, color='error', @click='startDate = finishDate = null', v-if='!dateCheckbox') Clear
                                                    v-switch(color='orange', label='All-day', hide-details, v-model='dateCheckbox')

                                                v-flex(xs12)
                                                    .title 2차 조건
                                                v-flex(xs12)
                                                    v-divider

                                                v-flex(xs12)
                                                    v-card-actions.right
                                                        v-btn(color="error", flat) Reset
                                                        v-btn(color="orange darken-2", flat) Search



                    v-bottom-sheet(v-model='sheet', inset, max-width='500px')
                        v-list
                            v-subheader Share to ...
                            v-list-tile(v-for='tile in shares', :key='tile', @click='shareTo(tile.title)')
                                v-list-tile-avatar
                                    v-avatar(size='32px', tile='')
                                        img(:src="'/images/' + tile.img")
                                v-list-tile-title {{ tile.title }}




        include vue_footer
        include vue_menu_fab

    include vue_dialog

    v-dialog(v-model='filterDialog', max-width='500px')
        v-card
            v-card-title
                span.headline Filter
            v-divider
            v-progress-linear.my-0(:indeterminate="true", height="2", color='deep-orange darken-3', v-show='isFilterProgress')
            v-card-text
                v-container(grid-list-md='')
                    v-layout(wrap='')
                        v-flex(sm3, xs12)
                            .subheading.grey--text 카테고리:
                        v-flex(sm9, xs12)
                            v-breadcrumbs.pt-0(v-if="category != null")
                                v-icon(slot='divider') chevron_right
                                v-breadcrumbs-item(v-for='item in [category, subcategory]', :key='item')
                                    | {{ item }}
                            v-flex(xs12)
                                v-btn(flat, color='error', dark, @click.native='category = subcategory = null', v-if="category !== null || subcategory !== null") Clear
                                v-btn(flat, color='orange darken-2', dark, @click.native='categoryDialog = true') Select Category


                        v-flex(sm3, xs12)
                            .subheading.grey--text 습득일:
                        v-flex(sm9, xs12)
                            //v-date-picker.elevation-10.mb-3.hidden-xs-only(v-model='date', :landscape='true', color="brown darken-1", name='date', full-width)
                                //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                            div(v-if='dateCheckbox')
                                v-dialog(ref='dialog', persistent, v-model='dateModal', lazy, full-width, width='400px', :return-value.sync='date')
                                    v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='date', readonly)
                                    v-date-picker(v-model='date', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='date')
                                        v-spacer
                                        v-btn(flat='', color='error', @click='date = null') Clear
                                        v-btn(flat='', color='primary', @click='dateModal = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.dialog.save(date)') OK
                            div(v-else)
                                v-dialog(ref='dialog1', persistent, v-model='dateModal1', lazy, full-width, width='400px', :return-value.sync='startDate')
                                    v-text-field(color="orange darken-2", slot='activator', label='시작일', v-model='startDate', readonly)
                                    v-date-picker(v-model='startDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='startDate')
                                        v-spacer
                                        v-btn(flat='', color='error', @click='startDate = null') Clear
                                        v-btn(flat='', color='primary', @click='dateModal1 = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.dialog1.save(startDate)') OK
                                v-dialog(ref='dialog2', persistent, v-model='dateModal2', lazy, full-width, width='400px', :return-value.sync='finishDate')
                                    v-text-field(color="orange darken-2", slot='activator', label='종료일', v-model='finishDate', readonly)
                                    v-date-picker(v-model='finishDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='finishDate')
                                        v-spacer
                                        v-btn(flat='', color='error', @click='finishDate = null') Clear
                                        v-btn(flat='', color='primary', @click='dateModal2 = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.dialog2.save(finishDate)') OK
                            //v-flex(xs12)
                            v-btn.mb-2(flat, color='error', @click='startDate = finishDate = null', v-if='!dateCheckbox') Clear
                            v-switch(color='orange', label='All-day', hide-details, v-model='dateCheckbox')


                        v-flex.my-2(xs12)

                        v-flex(sm3, xs12)
                            .subheading.grey--text 등록일:
                        v-flex(sm9, xs12)
                            //v-date-picker.elevation-10.mb-3.hidden-xs-only(v-model='date', :landscape='true', color="brown darken-1", name='date', full-width)
                                //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                            div(v-if='rgtDateCheckbox')
                                v-dialog(ref='rgtDialog', persistent, v-model='rgtDateModal', lazy, full-width, width='400px', :return-value.sync='rgtDate')
                                    v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='rgtDate', readonly)
                                    v-date-picker(v-model='rgtDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='rgtDate')
                                        v-spacer
                                        v-btn(flat='', color='primary', @click='rgtDateModal = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.rgtDialog.save(rgtDate)') OK
                            div(v-else)
                                v-dialog(ref='rgtDialog1', persistent, v-model='rgtDateModal1', lazy, full-width, width='400px', :return-value.sync='rgtStartDate')
                                    v-text-field(color="orange darken-2", slot='activator', label='시작일', v-model='rgtStartDate', readonly)
                                    v-date-picker(v-model='rgtStartDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='rgtStartDate')
                                        v-spacer
                                        v-btn(flat='', color='primary', @click='rgtDateModal1 = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.rgtDialog1.save(rgtStartDate)') OK
                                v-dialog(ref='rgtDialog2', persistent, v-model='rgtDateModal2', lazy, full-width, width='400px', :return-value.sync='rgtFinishDate')
                                    v-text-field(color="orange darken-2", slot='activator', label='종료일', v-model='rgtFinishDate', readonly)
                                    v-date-picker(v-model='rgtFinishDate', scrollable, lazy, full-width, width='400px', color="brown darken-1", name='rgtFinishDate')
                                        v-spacer
                                        v-btn(flat='', color='primary', @click='rgtDateModal2 = false') Cancel
                                        v-btn(flat='', color='primary', @click='$refs.rgtDialog2.save(rgtFinishDate)') OK
                            v-btn.mb-2(flat, color='error', @click='rgtStartDate = rgtFinishDate = null', v-if='!rgtDateCheckbox') Clear
                            v-switch(color='orange', label='All-day', hide-details, v-model='rgtDateCheckbox')

            v-divider
            v-card-actions
                v-spacer
                v-btn(color='error', flat='', @click.native='clearFilter()') Clear
                v-btn(color='blue darken-1', flat='', @click.native='filterDialog = false') Close
                v-btn(color='blue darken-1', flat='', @click.native='searchWithFilter()') Search

    v-dialog(v-model='categoryDialog', max-width='500px')
        v-card
            v-card-title.headline Select Category
            v-divider
            v-card-text
                v-layout(wrap)
                    v-layout.mr-1(xs6)
                        v-flex(xs12)
                            v-list(one-line)
                                v-subheader Category 1
                                template(v-for='(item, index) in categories')
                                    v-list-tile(avatar, @click='changeSubCategories2(item)', :key='item', :color="category === item ? 'orange darken-2' : '' ")
                                        v-list-tile-content
                                            v-list-tile-title(v-html='item', :class="category === item ? 'title' : '' ")
                                        v-list-tile-action
                                            v-icon(:color="category === item ? 'orange darken-2' : 'grey'") keyboard_arrow_right
                                    //v-divider(v-if='index + 1 < categories.length', :key='index')

                    v-layout.ml-1(xs6)
                        v-flex(xs12)
                            v-list(one-line)
                                v-subheader Category 2
                                template(v-for='(item, index) in subcategories')
                                    v-list-tile(avatar, @click='subcategory = item; categoryDialog=false', :key='item', :color="subcategory === item ? 'orange darken-2' : '' ")
                                        v-list-tile-content
                                            v-list-tile-title(v-html='item', :class="subcategory === item ? 'title' : '' ")
            v-divider
            v-card-actions
                v-spacer
                v-btn(color='error', flat='flat', @click.native="categoryDialog = false") Ok



    script(type="text/javascript" src='/javascripts/manage-config.js')
    script.
        const vue = init();
