extends vue_layout
block content

    include vue_toolbar

    div(style='margin-top:48px')

    section
        v-parallax.px-0(src='images/hero.jpeg', height='600')
            v-layout.white--text(column='', align-center='', justify-center='')
                img(src='images/logo/logo_color.svg', height='200')
                h1.white--text.mt-4.mb-2.display-1.text-xs-center Discovery and Lost
                .subheading.mb-3.text-xs-center Powered by _beat
                v-btn.mt-5(round, dark='', large='', href='#fetures', color='info')
                    | Get Started

    section#fetures
        v-layout.mt-3.mb-5(column='', wrap='', align-center='')
            v-flex.my-3(xs12='', sm8='')
                .text-xs-center
                    h2.headline The best way to manage lost item
                    span.subheading
                        | Cras facilisis mi vitae nunc
            v-flex(xs12='')
                v-container(grid-list-xl='')
                    v-layout( wrap, align-center='')

                        v-flex(xs12='', md4='')
                            v-card(hover, onclick="window.location.href='/find'")
                                v-card-text.text-xs-center
                                    v-icon.blue--text.text--darken-2.display-3(x-large='') color_lens
                                v-card-title.layout.justify-center(primary-title='')
                                    .headline.text-xs-center Find Your Item
                                v-card-text.text-xs-center
                                    | Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                                v-card-title.layout.justify-center.py-0(primary-title='')
                                    v-btn(round, large, color='blue darken-3', href='/find', flat) More

                        v-flex(xs12='', md4='')
                            v-card(hover, onclick="window.location.href='/lost'")
                                v-card-text.text-xs-center
                                    v-icon.blue--text.text--darken-2.display-3(x-large='') flash_on
                                v-card-title.layout.justify-center(primary-title='')
                                    .headline Register Lost Item
                                v-card-text.text-xs-center
                                    | Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                                v-card-title.layout.justify-center.py-0(primary-title='')
                                    v-btn(round, large, color='blue darken-3', href='/lost', flat) More

                        v-flex(xs12='', md4='')
                            v-card(hover, onclick="window.location.href='/manage'")
                                v-card-text.text-xs-center
                                    v-icon.blue--text.text--darken-2.display-3(x-large='') build
                                v-card-title.layout.justify-center(primary-title='')
                                    .headline.text-xs-center Manage Lost Item
                                v-card-text.text-xs-center
                                    | Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                                v-card-title.layout.justify-center.py-0(primary-title='')
                                    v-btn(round, large, color='blue darken-3', flat) More
    section
        v-parallax(src='images/section.jpg', height='380')
            v-layout(column='', align-center='', justify-center='')
                .headline.white--text.mb-3.text-xs-center Web development has never been easier
                em Kick-start your application today
                //v-btn.blue.lighten-2.mt-5(dark='', large='', href='/pre-made-themes')
                //    | Get Started
    section
        v-container(grid-list-xl='')
            v-layout.my-5( wrap='', justify-center='')
                v-flex(xs12='', sm4='')
                    v-card.elevation-0.transparent
                        v-card-title.layout.justify-center(primary-title='')
                            .headline Company info
                        v-card-text.text-xs-center
                            | Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                            | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            | Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
                v-flex(xs12='', sm4='', offset-sm1='')
                    v-card.elevation-0.transparent
                        v-card-title.layout.justify-center(primary-title='')
                            .headline Contact us
                        v-card-text
                            | Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                        v-list.transparent
                            v-list-tile
                                v-list-tile-action
                                    v-icon.blue--text.text--lighten-2 phone
                                v-list-tile-content
                                    v-list-tile-title 777-867-5309
                            v-list-tile
                                v-list-tile-action
                                    v-icon.blue--text.text--lighten-2 place
                                v-list-tile-content
                                    v-list-tile-title Chicago, US
                            v-list-tile
                                v-list-tile-action
                                    v-icon.blue--text.text--lighten-2 email
                                v-list-tile-content
                                    v-list-tile-title ldaytw@gmail.com

    //v-btn(fixed, dark, fab, bottom, right, color='green', small, v-on:click="gotoTop")
    //    v-icon keyboard_arrow_up

    //v-fab-transition
    //    v-btn(fixed, dark, fab, bottom, left,  color='deep-orange darken-3', v-show="scrollData.isShowFabTop", onclick='window.scrollTo(0,0);')
    //        v-icon keyboard_arrow_up
    include vue_menu_fab

    include vue_footer

    include vue_dialog

    script.
        const vue = new Vue({
            el: '#app',
            data: {
                title: 'D&L',
                scrollData: {
                    fab: false,
                    offsetTop: 0,
                    scrollT: 0,
                    delta: 200,
                    isShowFabTop: false,
                    transition: 'slide-y-reverse-transition'
                },
                loginData:{

                }

            },
            method:{
                loginSejong: function(){
                    var id = document.getElementsByName('loginId');
                    var pw = document.getElementsByName('loginPw');
                    loginSejong(id, pw);
                }
            },
            mounted:[
                function(){
                    $(window).scroll(
                        function (event) {

                            var scroll = $(window).scrollTop();

                            vue.scrollData.scrollT += (scroll-vue.scrollData.offsetTop);

                            if(vue.scrollData.scrollT > vue.scrollData.delta){
                                vue.scrollData.isShowFabTop = true;
                                vue.scrollData.scrollT = 0;
                            }else if (vue.scrollData.scrollT < -vue.scrollData.delta) {
                                vue.scrollData.isShowFabTop = false;
                                vue.scrollData.scrollT = 0;
                            }

                            vue.scrollData.offsetTop = scroll;

                            if(scroll === 0){
                                vue.scrollData.isShowFabTop = false;
                                vue.scrollData.scrollT = 0;
                                vue.scrollData.offsetTop = 0;
                            }

                        }
                    );
                }
            ]
        })



