v-toolbar(fixed, dark,  dense, color='deep-orange darken-3')
    //v-toolbar-side-icon
    img(src='images/logo/logo_white.svg', height='20px', onclick="window.location.href='/'")
    v-toolbar-title.ml-2(v-text='title', onclick="window.location.href='/'")
    v-text-field.mx-3(prepend-icon="search", append-icon="mic", label="Search", solo-inverted, flat, v-if='isShowTab && currentTab === "tab-Web"')
    v-spacer(v-else)
    v-toolbar-items
        v-btn(flat, style='height: auto;', @click.native="loginData.dialog = true", v-if='loginData.user === null') Login
        v-btn(flat, style='height: auto;', @click.native="loginData.infoDialog = true", v-if='loginData.user !== null') {{ loginData.user.name }}님

    v-tabs(centered, slot="extension", v-model='currentTab', show-arrows, color="deep-orange darken-3", slider-color='white', v-if='isShowTab', grow)
        v-tab(v-for='item in tabItems', :key='item', :href="'#tab-' + item")
            | {{ item }}


