v-toolbar(fixed, dark, flat)
    v-toolbar-side-icon
    v-toolbar-title(v-text='title')
    v-spacer
    v-toolbar-items
        v-btn(icon='', href='/').hidden-sm-and-down
            v-icon home
        v-btn(icon='').hidden-sm-and-down
            v-icon search
        v-btn(icon='').hidden-sm-and-down
            v-icon refresh
        v-btn(icon='').hidden-md-and-up
            v-icon more_vert